<mat-card *ngIf="character">
  <mat-card-header>
  <h3 ng-bind="character.name"></h3>
  </mat-card-header>
  <mat-card-content>
      <form class="item-form">
        <mat-form-field>
            <input matInput placeholder="name" name="name" [(ngModel)]="character.name">
        </mat-form-field> 
        <mat-form-field>
            <input matInput placeholder="Armour Class" name="armour_class" [(ngModel)]="character.armour_class">
        </mat-form-field> 
        <mat-form-field>
            <input matInput placeholder="Hit Points" name="hit_points" [(ngModel)]="character.hit_points"> 
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Intelligence" name="intelligence" [(ngModel)]="character.intelligence"> 
        </mat-form-field> 
        <mat-form-field>
            <input matInput placeholder="Strength" name="strength" [(ngModel)]="character.strength"> 
        </mat-form-field> 
        <mat-form-field>
            <input matInput placeholder="Wisdom" name="wisdom" [(ngModel)]="character.wisdom"> 
        </mat-form-field> 
      </form>
      <button mat-stroked-button (click)="save();">save</button>
  </mat-card-content>
</mat-card>