<mat-card>
    <mat-card-header>
        <h1 class="mat-h1">Dashboard</h1>
      </mat-card-header>
    <mat-card-content fxLayout="row">
      <mat-nav-list fxFlex="33">
        <mat-list-item class="list-group-item" *ngFor="let userItem of userItems"
          [class.bg-info]="userItem === selectedUserItem"
          (click)="onSelect(userItem)">
          {{userItem.item.name}}
          <span class="fill-space"></span>
          <button mat-button color="warn" title="delete"
            (click)="delete(userItem)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-list-item>
      </mat-nav-list>
    <mat-card fxFlex="33">
      <mat-card-header>{{weight}} lbs</mat-card-header>
      <mat-card-content>
          <app-item-search (selectedItem)="itemSelected($event)"></app-item-search>
      </mat-card-content>
    </mat-card>
    <app-user-item-detail fxFlex="33" (savedItem)="itemSaved($event)" [userItem]="selectedUserItem"></app-user-item-detail>
  </mat-card-content>
</mat-card>