<mat-card>
    <mat-card-header>
        <h1 class="mat-h1">Diary</h1>
      </mat-card-header>
    <mat-card-content fxLayout="row">
      <mat-nav-list fxFlex="33">
        <mat-list-item class="list-group-item" *ngFor="let diary of diaries"
          [class.bg-info]="diary === selectedDiary"
          (click)="onSelect(diary)">
          {{diary.title}}
          <span class="fill-space"></span>
          <button mat-button color="warn" title="delete"
            (click)="delete(diary)">
            <mat-icon md-direction="left">delete</mat-icon>
          </button>
        </mat-list-item>
      </mat-nav-list>
    <mat-card fxFlex="33">
      <mat-card-header></mat-card-header>
      <mat-card-content>
          <mat-form-field>
              <input matInput placeholder="Name" #diaryTitle>
          </mat-form-field> 
          <button mat-button class="btn btn-success" (click)="add(diaryTitle.value);">
           Add an entry</button>
      </mat-card-content>
    </mat-card>
    <app-diary-detail fxFlex="33" [diary]="selectedDiary"></app-diary-detail>
  </mat-card-content>
</mat-card>