<mat-card>
    <mat-card-header>
        <h1 class="mat-h1">Dashboard</h1>
      </mat-card-header>
    <mat-card-content fxLayout="row">
      <mat-nav-list fxFlex="33">
        <mat-list-item class="list-group-item" *ngFor="let item of items"
          [class.bg-info]="item === selectedItem"
          (click)="onSelect(item)">
          {{item.name}}
          <span class="fill-space"></span>
          <button mat-button color="warn" title="delete"
            (click)="delete(item)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-list-item>
      </mat-nav-list>
    <mat-card fxFlex="33">
      <mat-card-header>{{weight}} lbs</mat-card-header>
      <mat-card-content>
          <mat-form-field>
              <input matInput placeholder="Name" #itemName>
          </mat-form-field> 
          <button mat-button class="btn btn-success" (click)="add(itemName.value); itemName.value=''">
            add</button>
      </mat-card-content>
    </mat-card>
    <app-item-detail fxFlex="33" [item]="selectedItem" (saveItem)="saveItem($event)"></app-item-detail>
  </mat-card-content>
</mat-card>