<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="'navigation'">
    <mat-toolbar (click)="drawer.toggle()" color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a (click)="drawer.toggle()" mat-list-item routerLink="/myItems">My Items</a>
      <a (click)="drawer.toggle()" mat-list-item routerLink="/items">All Items</a>
      <a (click)="drawer.toggle()" mat-list-item routerLink="/wallet/detail">Wallet</a>
      <a (click)="drawer.toggle()" mat-list-item routerLink="/diary">Diary</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        [disabled]="!this.authenticated()"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span style="margin: 10px"> D and D tracking</span>
      <button mat-button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon aria-label="Side nav toggle icon">settings</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
      <button
        *ngIf="this.authenticated()"
        mat-menu-item
        aria-label="Logout"
        (click)="logout()">
        Log out
      </button>
      <button
        *ngIf="!this.authenticated()"
        mat-menu-item
        aria-label="Login"
        (click)="login()">
        Sign in
      </button>
      </mat-menu>  
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
