.badge-gold{
    color: #212529;
    background-color: #ffc107;
}
.badge-silver{
    color: #212529;
    background-color: #ffffffab;
}
.badge-copper{
    color: #212529;
    background-color: #857548;
}