<mat-card>
  <mat-card-header>
    <h1 class="mat-h1">Dashboard</h1>
  </mat-card-header>
  <mat-card-content>
    <mat-grid-list cols="2" rowHeight="350px">
      <mat-grid-tile *ngFor="let item of items" [colspan]="1" [rowspan]="1">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              <h3>{{item.name}}</h3>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
              <label>{{item.description}}</label>
              <br/>
              <label>weight:</label>
              <span>{{item.weight}}</span>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>