<mat-card class="container" *ngIf="item">
  <mat-card-header>
  <h3>{{ item.name }} Details</h3>
  </mat-card-header>
  <mat-card-content>
    <form class="item-form">
      <mat-form-field >
            <input matInput placeholder="Name" name="name" [(ngModel)]="item.name">
      </mat-form-field> 
      <mat-form-field>
          <input matInput placeholder="Weight" name="weight" [(ngModel)]="item.weight">
      </mat-form-field>    
      <mat-form-field>
          <input matInput placeholder="Quantity" name="quantity" [(ngModel)]="item.quantity">
      </mat-form-field> 
      <mat-form-field>
          <textarea matInput placeholder="Description" name="description" [(ngModel)]="item.description"></textarea>
      </mat-form-field> 
    </form>
    <button mat-stroked-button (click)="save();">save</button>
  </mat-card-content>
</mat-card>