<div class="container" *ngIf="item">

  <h2>{{ item.name }} Details</h2>
  <div><span>id: </span>{{item.id}}</div>
  <div class="form-group">
    <label>name:
      <input class="form-control" [(ngModel)]="item.name" placeholder="name"/>
    </label>
    <label>weight:
      <input class="form-control" [(ngModel)]="item.weight" placeholder="lbs"/>
    </label>
    <label>quantity:
      <input class="form-control" [(ngModel)]="item.quantity" placeholder="#"/>
    </label>
    <label>description:
        <textarea type="textarea" class="form-control" [(ngModel)]="item.description" placeholder="item description"></textarea>
      </label>
  </div>
  <button class="btn btn-success" (click)="save();">save</button>
</div>
